/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600&display=swap");
body {
  margin: 0;
}
.App {
  background: #3b3b3b;
  padding: 2rem 0;
  min-height: 100vh;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Oswald", sans-serif;
}
